version: '3.8'

services:
  traefik:
    image: traefik:latest
    command:
      - "--providers.swarm=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Redirect HTTP to HTTPS
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # Let's Encrypt Configuration
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=admin@jbaba.dev"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      # Enable Dashboard
      - "--api.dashboard=true"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik-certificates:/letsencrypt"
    networks:
      - traefik_public
    environment:
      - DOCKER_API_VERSION=1.44
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  lheelo:
    image: nginxdemos/hello
    networks:
      - traefik_public
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.lheelo.rule=Host(`test.jbaba.dev`)"
        - "traefik.http.routers.lheelo.entrypoints=websecure"
        - "traefik.http.routers.lheelo.tls.certresolver=myresolver"
        - "traefik.http.services.lheelo.loadbalancer.server.port=80"

volumes:
  traefik-certificates:

networks:
  traefik_public:
    driver: overlay
